@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* Colors */

  /* Primary */

  --primary-bright-blue: hsl(220, 98%, 61%);
  --primary-check-background: linear-gradient hsl(192, 100%, 67%) to
    hsl(280, 87%, 65%);

  /* Neutral */

  /* Light Theme */

  --neutral-very-light-gray: hsl(0, 0%, 98%);
  --neutral-very-light-grayish-blue: hsl(236, 33%, 92%);
  --neutral-light-grayish-blue: hsl(233, 11%, 84%);
  --neutral-dark-grayish-blue: hsl(236, 9%, 61%);
  --neutral-very-dark-grayish-blue: hsl(235, 19%, 35%);

  /* Dark Theme */

  --neutral-very-dark-blue: hsl(235, 21%, 11%);
  --neutral-ery-dark-desaturated-blue: hsl(235, 24%, 19%);
  --neutral-light-grayish-blue: hsl(234, 39%, 85%);
  --neutral-light-grayish-blue-hover: hsl(236, 33%, 92%);
  --neutral-dark-grayish-blue: hsl(234, 11%, 52%);
  --neutral-very-dark-grayish-blue: hsl(233, 14%, 35%);
  --neutral-very-dark-grayish-blue: hsl(237, 14%, 26%);
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.bg-light {
  background-color: var(--neutral-very-light-gray) !important;
}
.bg-dark {
  background-color: var(--neutral-very-dark-blue) !important;
}
input[type="checkbox"] {
  width: 20px !important;
  height: 20px !important;
  border-radius: 50% !important;
  border-style: none !important;
  background-color: var(--neutral-very-light-gray) !important;
}

/* Hiển thị ô đánh dấu (check) khi được chọn */
input[type="checkbox"]:checked {
  background-color: var(--primary-check-background) !important;
}
